/* progress.cst - PROGRESS custom objects file - Version 8 - 01/31/97 */

*NEW-CONTAINER  Smart&Window
NEW-TEMPLATE    src/adm/template/cntnrwin.w

*NEW-CONTAINER  Smart&Frame
NEW-TEMPLATE    src/adm/template/cntnrfrm.w

*NEW-CONTAINER  Smart&Dialog
NEW-TEMPLATE    src/adm/template/cntnrdlg.w

*NEW-CONTAINER  &Window
NEW-TEMPLATE    src/template/window.w

*NEW-CONTAINER  &Dialog
NEW-TEMPLATE    src/template/dialog.w

*NEW-CONTAINER  TTY &Window
NEW-TEMPLATE    src/template/tty-wind.w

*NEW-CONTAINER  TTY &Dialog
NEW-TEMPLATE    src/template/tty-dial.w

*NEW-PROCEDURE  Structured &Procedure
NEW-TEMPLATE    src/template/procedur.p

*NEW-PROCEDURE  Structured &Include
NEW-TEMPLATE    src/template/include.i

*NEW-PROCEDURE  Method &Library
NEW-TEMPLATE    src/template/mli.i

*BUTTON         &OK
DESCRIPTION     Standard Dialog OK Button
INHERIT         C&ustom Size/Color
AUTO-GO         YES
AUTO-END-KEY    NO
DEFAULT-BTN     YES
DEFAULT-STYLE   YES
LABEL           OK
NAME            Btn_OK  
*BUTTON         D&one
DESCRIPTION     Standard Window Done Button
INHERIT         C&ustom Size/Color
AUTO-GO         NO
AUTO-END-KEY    NO
DEFAULT-BTN     YES
DEFAULT-STYLE   YES
LABEL           &Done
NAME            Btn_Done
TRIGGER CHOOSE
DO:
  &IF DEFINED (adm-panel) <> 0 &THEN
      RUN dispatch IN THIS-PROCEDURE ('exit').
  &ELSE
      APPLY "CLOSE":U TO THIS-PROCEDURE.
  &ENDIF
END.
END TRIGGER
*BUTTON         &Cancel
DESCRIPTION     Standard Cancel Button
INHERIT         C&ustom Size/Color
AUTO-GO         NO
AUTO-END-KEY    YES
CANCEL-BTN      YES
DEFAULT-STYLE   YES
LABEL           Cancel
NAME            Btn_Cancel
*BUTTON         &Help 
DESCRIPTION     Standard Help Button
INHERIT         C&ustom Size/Color
DEFAULT-STYLE   YES
LABEL           &Help
NAME            Btn_Help
TRIGGER CHOOSE
OR HELP OF FRAME {&FRAME-NAME}
DO: /* Call Help Function (or a simple message). */
  MESSAGE "Help for File: {&FILE-NAME}" VIEW-AS ALERT-BOX INFORMATION.
END.
END TRIGGER
*BUTTON         &First 
DESCRIPTION     Simple Navigation Button
INHERIT         C&ustom Size/Color
LABEL           &First
NAME            Btn_First
TRIGGER CHOOSE
DO:
  &IF DEFINED (adm-panel) <> 0 &THEN
      RUN notify IN THIS-PROCEDURE ("get-first") NO-ERROR.
  &ELSEIF "{&TABLES-IN-QUERY-{&FRAME-NAME}}" ne "" &THEN
  /* This is a simple FIRST RECORD navigation button, useful for building
     test screens quickly.  NOTE: if there are no tables in the query, then 
     this code will not compile; so use the preprocessor to skip it. */
      DEFINE VARIABLE op-supported AS LOGICAL.
      GET FIRST {&FRAME-NAME}.
      IF AVAILABLE {&FIRST-TABLE-IN-QUERY-{&FRAME-NAME}} THEN DO:
          DISPLAY {&FIELDS-IN-QUERY-{&FRAME-NAME}} WITH FRAME {&FRAME-NAME}.
          {&OPEN-BROWSERS-IN-QUERY-{&FRAME-NAME}}
      END.
  &ENDIF
END.
END TRIGGER
*BUTTON         Ne&xt 
DESCRIPTION     Simple Navigation Button
INHERIT         C&ustom Size/Color
LABEL           &Next
NAME            Btn_Next
TRIGGER CHOOSE
DO:
  &IF DEFINED (adm-panel) <> 0 &THEN
      RUN notify IN THIS-PROCEDURE ("get-next") NO-ERROR.
  &ELSEIF "{&TABLES-IN-QUERY-{&FRAME-NAME}}" ne "" &THEN
  /* This is a simple NEXT RECORD navigation button, useful for building
     test screens quickly.  NOTE: if there are no tables in the query, then 
     this code will not compile; so use the preprocessor to skip it. */
      GET NEXT {&FRAME-NAME}.
      IF NOT AVAILABLE {&FIRST-TABLE-IN-QUERY-{&FRAME-NAME}}
          THEN GET LAST {&FRAME-NAME}.
      IF AVAILABLE {&FIRST-TABLE-IN-QUERY-{&FRAME-NAME}} THEN DO:
          DISPLAY {&FIELDS-IN-QUERY-{&FRAME-NAME}} WITH FRAME {&FRAME-NAME}.
	  {&OPEN-BROWSERS-IN-QUERY-{&FRAME-NAME}}
      END.
  &ENDIF
END.
END TRIGGER
*BUTTON         &Prev 
DESCRIPTION     Simple Navigation Button
INHERIT         C&ustom Size/Color
LABEL           &Prev
NAME            Btn_Prev
TRIGGER CHOOSE
DO:
  &IF DEFINED (adm-panel) <> 0 &THEN
      RUN notify IN THIS-PROCEDURE ("get-prev") NO-ERROR.
  &ELSEIF "{&TABLES-IN-QUERY-{&FRAME-NAME}}" ne "" &THEN
  /* This is a simple PREV RECORD navigation button, useful for building
     test screens quickly.  NOTE: if there are no tables in the query, then 
     this code will not compile; so use the preprocessor to skip it. */
      GET PREV {&FRAME-NAME}.
      IF NOT AVAILABLE {&FIRST-TABLE-IN-QUERY-{&FRAME-NAME}}
      THEN GET FIRST {&FRAME-NAME}.
      IF AVAILABLE {&FIRST-TABLE-IN-QUERY-{&FRAME-NAME}} THEN DO:
	DISPLAY {&FIELDS-IN-QUERY-{&FRAME-NAME}} WITH FRAME {&FRAME-NAME}.
        {&OPEN-BROWSERS-IN-QUERY-{&FRAME-NAME}}
      END.
  &ENDIF
END.
END TRIGGER
*BUTTON         &Last 
DESCRIPTION     Simple Navigation Button
INHERIT         C&ustom Size/Color
LABEL           &Last
NAME            Btn_Last
TRIGGER CHOOSE
DO:
  &IF DEFINED (adm-panel) <> 0 &THEN
      RUN notify IN THIS-PROCEDURE ("get-last") NO-ERROR.
  &ELSEIF "{&TABLES-IN-QUERY-{&FRAME-NAME}}" ne "" &THEN
  /* This is a simple LAST RECORD navigation button, useful for building
     test screens quickly.  NOTE: if there are no tables in the query, then 
     this code will not compile; so use the preprocessor to skip it. */
      GET LAST {&FRAME-NAME}.
      IF AVAILABLE {&FIRST-TABLE-IN-QUERY-{&FRAME-NAME}} THEN DO:
	  DISPLAY {&FIELDS-IN-QUERY-{&FRAME-NAME}} WITH FRAME {&FRAME-NAME}.
	  {&OPEN-BROWSERS-IN-QUERY-{&FRAME-NAME}}
      END.
  &ENDIF
END.
END TRIGGER
*BUTTON        C&ustom Size/Color
DESCRIPTION    Standard Defaults for other buttons
WIDTH          15
HEIGHT         1.125
BGCOLOR        8       

*EDITOR        &Read-Only
DESCRIPTION    READ-ONLY Editor
READ-ONLY      YES
*FILL-IN       &Character
DESCRIPTION    Character Fill-in
DATA-TYPE      Character
*FILL-IN       D&ate
DESCRIPTION    Date Fill-in
DATA-TYPE      Date
*FILL-IN       De&cimal
DESCRIPTION    Decimal Fill-in
DATA-TYPE      Decimal
*FILL-IN       &Integer
DESCRIPTION    Integer Fill-in
DATA-TYPE      Integer
*FILL-IN       &Logical
DESCRIPTION    Logical Fill-in
DATA-TYPE      Logical
*FRAME         No-&Box
DESCRIPTION    No-Box Frame
NO-BOX         YES
*FRAME         Box, No &Title
DESCRIPTION    Frame with BOX, but No Title-bar
NO-BOX         NO
TITLE-BAR      NO

*COMBO-BOX     &Character
DESCRIPTION    Character Combo-Box
DATA-TYPE      Character
*COMBO-BOX     D&ate
DESCRIPTION    Date Combo-Box
DATA-TYPE      Date
*COMBO-BOX     De&cimal
DESCRIPTION    Decimal Combo-Box
DATA-TYPE      Decimal
*COMBO-BOX     &Integer
DESCRIPTION    Integer Combo-Box
DATA-TYPE      Integer
*COMBO-BOX     &Logical
DESCRIPTION    Logical Combo-Box
DATA-TYPE      Logical

*RADIO-SET     &Character
DESCRIPTION    Character Radio-Set
DATA-TYPE      Character
*RADIO-SET     D&ate
DESCRIPTION    Date Radio-Set
DATA-TYPE      Date
*RADIO-SET     De&cimal
DESCRIPTION    Decimal Radio-Set
DATA-TYPE      Decimal
*RADIO-SET     &Integer
DESCRIPTION    Integer Radio-Set
DATA-TYPE      Integer
*RADIO-SET     &Logical
DESCRIPTION    Logical Radio-Set
DATA-TYPE      Logical

*RECTANGLE     &Not Filled
DESCRIPTION    Rectangle (No-Fill)
FILLED      NO 
EDGE-PIXELS 1
*RECTANGLE     &Filled
DESCRIPTION    Rectangle (with Fill)
FILLED      YES 
EDGE-PIXELS 1
*RECTANGLE     &3D (2 pixel edge)
DESCRIPTION    Thinnest 3-D Rectangle
FILLED      NO
EDGE-PIXELS 2
*RECTANGLE     3D (&4 pixel edge)
DESCRIPTION    Four pixel wide 3-D Rectangle
FILLED      NO
EDGE-PIXELS 4

*SELECTION-LIST &Region
DESCRIPTION     No Scrollbar - Editor
SCROLLBAR-V     NO
HEIGHT          3
LIST-ITEMS      East,North,West,South
NAME            SELECT-REGION

#CSSpin &Default
CONTROL {EAF26C8F-9586-101B-9306-0020AF234C9D} CSSpin
UP-IMAGE-FILE   adeicon/csspin-u.bmp
DOWN-IMAGE-FILE adeicon/csspin-d.bmp
LABEL CSSpin

#CSComboBox &Default
CONTROL {93330F00-7CA6-101B-874B-0020AF109266} CSComboBox
UP-IMAGE-FILE   adeicon/cscomb-u.bmp
DOWN-IMAGE-FILE adeicon/cscomb-d.bmp
LABEL CSCombo

#PSTimer &Default
CONTROL {F0B88A90-F5DA-11CF-B545-0020AF6ED35A} PSTimer
UP-IMAGE-FILE   adeicon/pstime-u.bmp
DOWN-IMAGE-FILE adeicon/pstime-d.bmp
LABEL PSTimer
