/* smart.cst - custom SmartObject file - Version 8 - 01/08/97 
 ************************************************************************
 Changes from 8.0A
     Add Simple SmartObject to FILE/NEW.
     Add "SmartObject." to palette 
           (NOTE "." to distinguish from FILE/NEW SmartObject)
     Add Object: rb-wrap.w, p-abc.w, p-navtxt.w
 ************************************************************************/

#SmartObject.    &Default
UP-IMAGE-FILE   adeicon/wp_plus 0,0
DOWN-IMAGE-FILE adeicon/wp_plus 0,28
LABEL           Smart&Object
NEW-TEMPLATE    src/adm/template/smart.w
DIRECTORY-LIST  .,adm/objects,adm/samples
FILTER          *.*,*.w,*.r,b-*.*,q-*.*,s-*.*,v-*.*
TITLE           Choose a SmartObject

*NEW-SMARTOBJECT Simple Smart&Object
TYPE            SmartObject.
NEW-TEMPLATE    src/adm/template/smart.w

*SmartObject.   &Report Builder Wrapper
USE             adm/objects/rb-wrap.w

#SmartFolder    &Default
UP-IMAGE-FILE   adeicon/wp_up 28,168
DOWN-IMAGE-FILE adeicon/wp_down 28,168
LABEL           SmartFol&der
USE adm/objects/folder.w

#SmartPanel     &Default
UP-IMAGE-FILE   adeicon/wp_up 0,196
DOWN-IMAGE-FILE adeicon/wp_down 0,196
LABEL           Smart&Panel
DIRECTORY-LIST  adm/objects,adm/samples,.
FILTER          p-*.*,p-*.w,p-*.r,*.*
TITLE           Choose SmartPanel

*SmartPanel     Navigation Panel (&icons)
USE             adm/objects/p-navico.w
*SmartPanel     Navigation Panel (&labels)
USE             adm/objects/p-navlbl.w
*SmartPanel     Update Panel (&standard)
USE             adm/objects/p-updsav.w
*SmartPanel     Update Panel (&transaction)
USE             adm/objects/p-updtxn.w
*SmartPanel     &Alphabet Panel (Filter-Source) 
USE             adm/objects/p-abc.w
*SmartPanel     &Option Panel (SortBy-Source, etc.) 
USE             adm/objects/p-option.w

#SmartBrowser   &Default
UP-IMAGE-FILE   adeicon/wp_up 28,196
DOWN-IMAGE-FILE adeicon/wp_down 28,196
LABEL           SmartBro&wser
DB-CONNECT
NEW-TEMPLATE    src/adm/template/browser.w
DIRECTORY-LIST  .,adm/samples
FILTER          b-*.*,b-*.w,b-*.r,*.*
TITLE           Choose SmartBrowser

*NEW-SMARTOBJECT Smart&Browser
TYPE            SmartBrowser
NEW-TEMPLATE    src/adm/template/browser.w

*NEW-SMARTOBJECT Smart&Browser Wizard
TYPE            SmartBrowser
NEW-TEMPLATE    src/adm/template/wbrowser.w

#SmartViewer    &Default
UP-IMAGE-FILE   adeicon/wp_up 0,224
DOWN-IMAGE-FILE adeicon/wp_down 0,224
LABEL           Smart&Viewer
DB-CONNECT
NEW-TEMPLATE    src/adm/template/viewer.w
DIRECTORY-LIST  .,adm/samples
FILTER          v-*.*,v-*.w,v-*.r,*.*
TITLE           Choose SmartViewer

*NEW-SMARTOBJECT Smart&Viewer
TYPE            SmartViewer
NEW-TEMPLATE    src/adm/template/viewer.w

*NEW-SMARTOBJECT Smart&Viewer with Auto-Field
TYPE            SmartViewer
NEW-TEMPLATE    src/adm/template/vieweraf.w

#SmartQuery     &Default
UP-IMAGE-FILE   adeicon/wp_up 28,224
DOWN-IMAGE-FILE adeicon/wp_down 28,224
LABEL           Smart&Query
DB-CONNECT
NEW-TEMPLATE    src/adm/template/query.w
DIRECTORY-LIST  .,adm/samples
FILTER          q-*.*,q-*.w,q-*.r,*.*
TITLE           Choose SmartQuery

*NEW-SMARTOBJECT Smart&Query
TYPE            SmartQuery
NEW-TEMPLATE    src/adm/template/query.w

*NEW-SMARTOBJECT Smart&Query Wizard
TYPE            SmartQuery
NEW-TEMPLATE    src/adm/template/wquery.w

#SmartContainer &Default
UP-IMAGE-FILE   adeicon/wp_up 0,308
DOWN-IMAGE-FILE adeicon/wp_down 0,308
LABEL           SmartCo&ntainer
DIRECTORY-LIST  .,adm/samples
FILTER          f-*.*,w-*.*,*.w,*.r,*.*
TITLE           Choose SmartContainer

*RADIO-SET      &Select Page
DESCRIPTION     Radio-Set to select page on paging object
DATA-TYPE       INTEGER
NAME            rs_Select_Page
TRIGGER VALUE-CHANGED
DO:
  /* Ask the SmartContainer to show a different page.  NOTE: this will only
     work if this procedure contains the method procedures to handle multi-
     paged applications.  Otherwise there will be an error. */
  ASSIGN {&SELF-NAME}.
  RUN Select-Page ({&SELF-NAME}).
END.
END TRIGGER

*BUTTON         &View Page
DESCRIPTION     Button to view page 1 on paging object
LABEL           &View Page
NAME            Btn_View_Page
WIDTH           15
HEIGHT          1.125
TRIGGER CHOOSE
DO:
  /* Ask the SmartContainer to view a different page.  
     NOTE: this will only work if this procedure contains the method 
     procedures to handle multi- paged applications.  Otherwise there will 
     be an error. */
  RUN View-Page (1).
END.
END TRIGGER
